:root {
  --preto: #000000;
  --branco: #FEFEFE;
  --cinza-claro: #BBBBBB;
  --hover-nav: #C78C19;
  --cinza-escuro: #888888;
  font-family: "Montserrat", sans-serif;
}

header {
  background: var(--cinza-claro);
  padding: 2rem 0;
}

.caixa {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

nav {
  display: flex;
  align-items: center;
}

nav li {
  display: inline;
  margin-left: 1.5rem;
}

nav a {
  text-transform: uppercase;
  color: var(--preto);
  font-weight: bold;
  font-size: 2rem;
  text-decoration: none;
}

nav a:hover {
  color: var(--hover-nav);
  text-decoration: underline;
}